@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: hsl(220, 14%, 75%);
}

html,
body {
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

header {
  height: 10vh;
  border-bottom: 2px solid hsl(223, 64%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.burger {
  visibility: hidden;
}

.burger > div {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: hsl(220, 13%, 13%);
  transition: transform 0.5s ease;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo > h2 {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  font-size: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_items li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
  font-size: 13px;
}

.menu_items li a:hover {
  color: #000;
  height: 100%;
}

.cart_sect {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(26, 100%, 55%);
  border-radius: 100%;
  height: 15px;
  width: 15px;
  font-size: 10px;
  display: grid;
  place-content: center;
  transform: translate(3px, -7px);
  visibility: hidden;
}

.cartBB {
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.cartBB > img {
  width: 100%;
}

#avatar {
  width: 40px;
  margin-left: 10px;
  cursor: pointer;
}

#avatar > img {
  width: 100%;
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 100%;
}

/* body section */

main {
  display: grid;
  place-content: center;
  grid-template-areas: "image detail";
  gap: 5rem;
  padding-top: 50px;
}

.image_section {
  position: relative;
}

.rendered_img {
  height: 350px;
  cursor: pointer;
}

.rendered_img > img {
  height: 100%;
  border-radius: 10px;
}

.arrow {
  background-color: #fff;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.arrow:hover {
  color: hsl(26, 100%, 55%);
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 45%;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.thumbnailsContainer {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
  justify-content: center;
}

.thumbnails {
  width: 50px;
  cursor: pointer;
}

.thumbnails:hover > img {
  opacity: 0.5;
  transform: translate(-5px, 0);
  transition: transform 1s ease;
}

.active {
  opacity: 0.5;
  border: 2px solid hsl(26, 100%, 55%);
  border: 2px solid hsl(26, 100%, 55%);
}

.thumbnails > img {
  width: 100%;
  border-radius: 10px;
}

.detail {
  max-width: 400px;
  margin-top: 40px;
}

.company_name {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.product {
  font-size: 30px;
  line-height: 35px;
  color: hsl(220, 13%, 13%);
  padding: 10px 0;
}

.product_detail {
  line-height: 22px;
  font-size: 14px;
}

.pricing_discount {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
}

.pricing_discount :first-child {
  color: hsl(220, 13%, 13%);
  font-size: 18px;
  font-weight: 700;
}

.pricing_discount :last-child {
  background-color: hsl(25, 100%, 94%);
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 5px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
}

.pricing-plan > :last-child {
  text-decoration: line-through;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 20px;
}

.addCart-section {
  display: flex;
  gap: 0.5rem;
}

.addtocart {
  display: flex;
  height: 40px;
  border-radius: 5px;
}

.addtocart > div {
  background-color: hsl(223, 64%, 98%);
  padding: 5px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addtocart div > img {
  width: 10px;
}

button {
  width: 100%;
  background-color: hsl(26, 100%, 55%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}

button > img {
  width: 15px;
  margin-right: 10px;
}

button:hover {
  transform: translateY(-3px);
  opacity: 0.5;
  transition: transform 0.5s ease-in;
}

.message {
  padding: 10px 20px;
  width: auto;
  height: 40px;
  color: hsl(26, 100%, 55%);
  background: linear-gradient(45deg, black, transparent);
  position: absolute;
  top: 9vh;
  right: 0;
  transform: translateX(700px);
  transition: transform 1s ease;
  box-shadow: 0px 3px 0px 0px hsl(220, 14%, 75%);
}

.message1.render,
.message2.renderMsg,
.message3.show {
  transform: translateX(0px);
}

.active .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.cart {
  width: 300px;
  background-color: #fff;
  box-shadow: 3px 3px 5px 5px;
  height: 200px;
  position: absolute;
  right: 150px;
  top: 8vh;
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
}

.hide {
  display: none;
}

.thumb {
  width: 50px;
}

.thumb > img {
  width: 100%;
  border-radius: 5px;
}

.name {
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding-bottom: 20px;
}

.addedCartContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin: 10px 0;
}

.cart > button {
  width: 250px;
  margin-inline: auto;
}

.detailName,
.detailPrice {
  font-size: 14px;
}

.cartDetail {
  margin-right: 5px;
}

b,
.name {
  color: hsl(220, 13%, 13%);
  font-weight: bold;
}

.trash {
  cursor: pointer;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modalarrow {
  background-color: #fff;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modalarrow.modalarrow-left {
  transform: translateX(-20px);
}

.modalarrow.modalarrow-right {
  transform: translateX(20px);
}

.modalarrow-left,
.modalarrow-right {
  position: absolute;
  top: 45%;
}

.modalarrow-left {
  left: 0;
}

.modalarrow-right {
  right: 0;
}

.modal_thumbnails {
  width: 50px;
  cursor: pointer;
  margin-top: 30px;
}

.modal_thumbnails > img {
  width: 100%;
  border-radius: 5px;
}

img[src="./images/icon-close.svg"] {
  margin-bottom: 20px;
  width: 20px;
  cursor: pointer;
  float: right;
}

@media (max-width: 500px) {
  body {
    height: 100%;
    overflow-x: hidden;
  }

  main {
    grid-template-areas:
      "image"
      "detail";
    padding-top: 0;
    gap: normal;
  }

  .menu_items {
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 50%;
    height: 90vh;
    top: 10vh;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .menu_items li {
    display: block;
    padding: 20px 0;
    color: #000;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    font-weight: 700;
    opacity: 0;
  }

  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .burger {
    visibility: visible;
    margin-right: 15px;
    border: none;
  }

  .menu {
    align-items: normal;
  }

  .rendered_img {
    height: auto;
    width: 100vw;
  }

  .rendered_img > img {
    height: auto;
    width: 100%;
    border-radius: 0px;
  }

  .thumbnailsContainer {
    display: none;
  }

  .arrow {
    visibility: visible;
  }

  .detail {
    margin-left: 20px;
    margin-right: 20px;
    max-width: none;
  }

  .pricing-plan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }

  .pricing-plan > :last-child,
  .pricing_discount {
    margin: 0;
    font-size: 18px;
  }

  .pricing_discount :first-child {
    font-size: 20px;
  }

  .addCart-section {
    margin: 40px 0;
    flex-direction: column;
  }

  .addtocart > div {
    width: 100%;
    margin-bottom: 5px;
    border: none;
    border-radius: 0px;
  }

  button {
    height: 60px;
  }

  footer {
    display: none;
  }

  .modalRendered {
    width: 90vw;
  }

  .message {
    display: none;
  }

  .message1.render,
  .message2.renderMsg,
  .message3.show {
    display: block;
    transform: translateX(0px);
    font-size: 12px;
  }

  .cart {
    z-index: 999;
    height: auto;
    right: auto;
    width: 90vw;
    margin-left: 15px;
  }
}

.open {
  transform: translateX(0%);
}

/* footer section */
footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
}
